@using WebAppAspNetMvcPdf.Models
@model CurrencyType

<h3>Тип валюты</h3>

@using (Html.BeginForm("Create", "CurrencyTypes", FormMethod.Post))
{
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" class="btn btn-primary" />
    @Html.ActionLink("Отменить", "Index", "CurrencyTypes", null, new { @class = "btn btn-danger" })
}
