@using WebAppAspNetMvcPdf.Models
@model Author

<h3>Автор</h3>

@using (Html.BeginForm("Edit", "Authors", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" class="btn btn-primary" />
    @Html.ActionLink("Отменить", "Index", "Authors", null, new { @class = "btn btn-danger" })
}
